@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .sidebar-item h3 {
        @apply hover:cursor-pointer hover:text-gray-500 mt-2 mb-2 transition-all;
    }

    .sidebar-item li {
        @apply text-lg;
    }

    .sidebar-item ul {
        @apply font-normal bg-slate-300 pl-5 -translate-x-10 w-64
        text-black invisible h-0 shadow-lg;
    }

    .sidebar-item:hover > ul {
        @apply visible h-32;
    }

    .paragraph {
        @apply text-gray-100 w-5/6 md:w-1/2 text-lg;
    }

    .comment {
        @apply w-600 text-gray-200 flex flex-row bg-slate-600 p-4 rounded-md
        text-sm flex-shrink-0 mb-10;
    }

    .comment img {
        @apply w-12 h-12 mr-4 rounded-full flex-shrink-0;
    }

    .comment h3 {
        @apply font-bold;
    }

    .comment div {
        @apply max-w-none;
    }

    .reply-container {
        @apply flex flex-row
    }

    .reply {
        @apply comment;
    }

}